.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  color: white;
  margin: 0;
  padding: 50px;
}

.layout {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: left;
}

.yellow {
  color: yellow;
}
